# Environment variables
.env

# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# IDE
.vscode/
.idea/

# macOS files
.DS_Store

# Sample files for local reference.
changes.txt
output_example.png
sample_xml/
res_model_sql/
samples_csv_map/

